.update-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 255, 0.403), blue);
    padding: 10px 145px;
    border-radius: 10px;
    text-transform: uppercase;
}